<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config></context:annotation-config>
<bean id="movie1" class="com.bean.Movie">
    <property name="movieName" value="DDLJ"/>
    <property name="cost" value="120"/>
    <property name="rating" value="8.5"/>
    <property name="cast">
        <list>
            <value>SRK</value>
            <value>Kajol</value>
        </list>
    </property>
</bean>
<bean id="movie2" class="com.bean.Movie">
        <property name="movieName" value="HumApkeHaiKon"/>
        <property name="cost" value="80"/>
        <property name="rating" value="8.0"/>
    <property name="cast">
        <list>
            <value>Salman</value>
            <value>Madhuri</value>
        </list>
    </property>
</bean>
<util:set set-class="java.util.HashSet" value-type="Movie" id="movies">
        <ref bean="movie1"/>
        <ref bean="movie2"/>
</util:set>
<bean id="director1" class="com.bean.Director" >
    <property name="name" value="Karan Johar"/>
    <property name="properties" >
        <props>
            <prop key="age ">34</prop>
            <prop key="net worth ">1800</prop>
        </props>
    </property>
<!--    <property name="movies">-->
<!--        <set>-->
<!--        <ref bean="movie1"/>-->
<!--        <ref bean="movie2"/>-->
<!--        </set>-->
<!--    </property>-->
</bean>

</beans>